{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Coders News</title>
        <meta name="description" content="">
        <meta name="author" content="YOUR NAME HERE">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1><span class="emphasis">{</span>Coders<span class="emphasis">}</span> News</h1>
                    <h4 id="slogan"> TV News while you code...</h4>
                </a>
            </div>
            <!-- include nav here -->
            {% include './nav.html' %}
        </header>
        <!-- include block content here -->
        {% block content %}{% endblock %}
    </body>
    <footer>
        <p id="footer">© <span class="emphasis">{</span>Coders<span class="emphasis">}</span> News</p>
    </footer>
</html>