<nav>
    <!-- Home button is not needed -->
    <!-- <a href="{% url 'news:index' %}">Home</a> -->
    {% if request.user.is_authenticated %}
        <h4 id="nav-name">Hi, {{ user.first_name }}</h4>
        <br>
        <a href="{% url 'users:authorProfile' %}" class="nav-links">My Profile</a>
        <a href="{% url 'news:newStory' %}" class="nav-links">Add Story</a>
        <a href="{% url 'logout' %}" id="log-function" class="nav-links">Logout</a>
    {% else %}
        <a href="{% url 'login' %}" class="nav-links">Login</a>
        <a href="{% url 'users:createAccount' %}" class="nav-links">Create Account </a>
    {% endif %}
</nav>

<!-- <span class="emphasis">{{ user.first_name }}!</span> -->