/* CSS reset code */
html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}
  
*, *:before, *:after {
       box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 8px;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
/* End of CSS Reset Code */


/* GLOBAL */
body {
    background-color: rgb(240, 239, 239);
}

a {
    /* margin: 2px; */
    padding-bottom: 4px;
    padding-left: 4px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

/* HEADINGS */
h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif;
   font-size: 1.6rem; 
}

h3 {
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    text-decoration: underline;
}

h4 {
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

h5 {
    font-family: monospace;
    font-size: .8rem;
    font-weight: lighter;
    margin: 0;
    padding-bottom: .5rem;
}

body {
    margin-left: 20px;
    margin-right: 20px;
}
.story-card {
    margin: 5px;
    padding: 10px;
    border: 1px solid lightgrey;
    /* border-radius: 5px; */
    background-color: white;
    min-height: 140px;
}

.story-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    /* padding-right: 4px; */
    /* border-radius: 5px;   */
}

.story_image {
    padding-right: 8px;
    padding-top: 2px;
}

#latest-stories {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 6px 6px;
    grid-template-areas: "left-1 right-1" "left-1 right-2" "left-1 right-3";
    max-height: 500px;
}

#story-card-1 {
    grid-area: left-1;
}

#story-card-2 {
    grid-area: right-1;
}

#story-card-3 {
    grid-area: right-2;
}

#story-card-4 {
    grid-area: right-3;
}

#story-card-2 a,
#story-card-3 a,
#story-card-4 a {
    display: flex;
    max-height: 120px;
    width: 100%;
    height: 100%;
}

#story-card-2 .story-card-text h3,
#story-card-3 .story-card-text h3,
#story-card-4 .story-card-text h3 {
    font-size: 16px;
    padding-bottom: 2px;
}

#story-card-2 .story-card-text h4,
#story-card-3 .story-card-text h4,
#story-card-4 .story-card-text h4 {
    font-size: 13px;
    /* font-weight: lighter; */
    
}

#story-card-2 img,
#story-card-3 img,
#story-card-4 img {
    width: 33%;
    height: 100%;
    margin-right: 5px;
}

#all-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#all-stories .story-card {
    flex-basis: 32%;
    flex-grow: 1;
}

/* loggen on own profile view */
#story-wrapper {
    margin: 30px 20px 0 10px;
}

#story-content {
    float: right;
}

#story-content img {
    float: right;
    margin: 0 20px 30px 20px;
    width: 550px;
}

#story-text {
    text-align: left;
}

.comment-card {
    padding-bottom: 10px;
}

.comment {
    font-size: smaller;
}


.author-name:hover {
    color: #800080;
    text-decoration: underline;
}

.author-profile {
    margin: 0 0 100px 0;
}

.author-photo {
    float: right;
    margin-right: 50px;
    margin-left: 50px;
    height: 200px;
}

.stories-list {
    margin: 5px;
    padding: 10px;
    border: 1px solid lightgrey;
    /* border-radius: 5px; */
    background-color: white;
    min-height: 140px;
}

.stories-list img {
    margin: 15px 0 5px 0;
}


.story-title:hover {
    color: #800080;
    text-decoration: underline;
}

/* Universal button Styling */
.button {
    padding: 5px 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: .5px;
    margin-top:40px;  
    text-align: center;
}

.button:hover {
    color: #800080;
    text-decoration: underline;
    border-color: #800080;
}

/* view other authors profiles */
.view-author {
    margin-bottom: 150px;
}


/* Delete confirmation */
/* .delete-buttons {
    display: inline;
} */