{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %} 
<section id="delete-story">
    {% if request.user == story.author %}
        <h2>Hello {{ user.username }}!</h2> 
        <p>Are you sure you would like to delete {{ story.title }}</p>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Yes">
        </form>
        <a href="{% url 'news:story' story.id %}">No</a>
        <!-- Style as Button LATER -->
    {% else %}
        <p> You are not authenticated </p>
    {% endif %}
</section>
{% endblock %}