{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<section id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <a href="{% url 'news:viewAuthor' pk=story.author.pk %}"><h3>{{ story.author.username }}</h3></a>
    
    <div id="story-content">
        {% if story.image %}
            <img src="{{ story.image }}">
        {% else %}
            <img src="{% static '/news/images/placeholder-5.jpg' %}">
        {% endif %}
        {{ story.content|linebreaks }}
    </div>
</section>

<section>
    {% if request.user.is_authenticated %}
        {% if request.user == story.author %}
            <a href="{% url 'news:updateStory' story.id %}">Update</a>
            <!-- style link as a button LATER! -->
            <a href="{% url 'news:deleteStory' story.id %}">Delete</a>
            <!-- style link as a button LATER! -->
        {% endif %}
    {% endif %}
</section>
{% endblock %}