{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %} 
    <section class="view-author">
        <h2> {{ author.username }} </h2> 
        <div class="author-photo">
            {% if author.profile_photo %}
                <img src="{{ author.profile_photo }}">
            {% else %}
                <img src="{% static '/news/images/placeholder-5.jpg' %}">
            {% endif %}
        </div>
        <div>
            <h3>{{ author.first_name }} {{ author.last_name }}</h3>
            <p>Bio: {{ author.bio }}</p>
        </div>  
    </section>
    
    <br>
    <div class="stories-list">
        <h3> View {{ author.username }}'s stories </h3>
        {% for story in all_stories %}
            {% if story.image %}
                <img src="{{ story.image }}">
            {% else %}
                <img src="{% static '/news/images/placeholder-5.jpg' %}">
            {% endif %}
            <a href="{% url 'news:story' story.id %}"><h3>{{ story.title }}</h3></a>
            <h5>{{ story.pub_date }}</h5>
        {% endfor %}
    </div>
    
{% endblock %}
